.flame{
    width: 200px;
    height: 200px;
    @keyframes path-stretch{
        0%{
            transform: translate(100px, 180px) scale(1, 1);
        }
        $stretchCount: 18;
        @for $i from 1 through $stretchCount{
            #{5 + (5 * $i)}%{
                transform: translate(100px, 180px) scale(1, .75 + (random(100) * .0025));
            }
        }
        100%{
            transform: translate(100px, 180px) scale(1, 1);
        }
    }
    g{
        transform: translate(100px, 180px);
        animation: path-stretch;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        path{
            fill: #ffcc00;
        }
        @keyframes path-morph{
            0%{
                d: path("M  -8 -122 C -7 -145 2 -149 2 -149 C 2 -149 9 -145 8 -121 C 8 -98 15 -95 15 -71 C 15 -47 25 -43 25 -20 C 25 4 0 0 0 0 C 0 0 -25 3 -25 -20 C -25 -44 -15 -48 -15 -72 C -15 -95 -8 -98 -8 -122 Z");
            }
            $count: 98;
            $shiftScale: 4;
            @for $i from 1 through $count{
                #{1 + (1 * $i)}%{
                    $shift1: random(4 * $shiftScale) - (2 * $shiftScale);
                    $shift2: random(3 * $shiftScale) - (1.5 * $shiftScale);
                    $shift3: random(2 * $shiftScale) - (1 * $shiftScale);
                    $shift4: random(1 * $shiftScale) - (.5 * $shiftScale);
                    d: path("M  #{-9 + $shift2} -122 C #{-9 + $shift2} -145 #{2 + $shift1} -149 #{2 + $shift1} -149 C #{2 + $shift1} -149 #{9 + $shift2} -145 #{9 + $shift2} -121 C #{9 + $shift2} -98 #{15 + $shift3} -95 #{15 + $shift3} -71 C #{15 + $shift3} -47 #{25 + $shift4} -43 #{25 + $shift4} -20 C #{25 + $shift4} 4 0 0 0 0 C 0 0 #{-25 + $shift4} 3 #{-25 + $shift4} -20 C #{-25 + $shift4} -44 #{-15 + $shift3} -48 #{-15 + $shift3} -72 C #{-15 + $shift3} -95 #{-9 + $shift2} -98 #{-9 + $shift2} -122 Z");
                }
            }
            100%{
                d: path("M  -8 -122 C -7 -145 2 -149 2 -149 C 2 -149 9 -145 8 -121 C 8 -98 15 -95 15 -71 C 15 -47 25 -43 25 -20 C 25 4 0 0 0 0 C 0 0 -25 3 -25 -20 C -25 -44 -15 -48 -15 -72 C -15 -95 -8 -98 -8 -122 Z");
            }
        }
        path{
            
            d: path("M  -8 -122 C -7 -145 2 -149 2 -149 C 2 -149 9 -145 8 -121 C 8 -98 15 -95 15 -71 C 15 -47 25 -43 25 -20 C 25 4 0 0 0 0 C 0 0 -25 3 -25 -20 C -25 -44 -15 -48 -15 -72 C -15 -95 -8 -98 -8 -122 Z");
            animation: path-morph;
            animation-duration: 10s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            filter: blur(2px);
        }
    }
}